{% extends "base.html" %}
{% block body %}
<div class="login-page">
  <div class="login-box">
    <div class="login-logo">{{ logo_svg|safe }}</div>

    {% with msgs = get_flashed_messages() %}
    {% if msgs %}
    <div class="alert">{{ msgs[0] }}</div>
    {% endif %}
    {% endwith %}

    <form method="post" action="{{ url_for('auth.login') }}">
      <input type="password" name="password" placeholder="Password" autofocus autocomplete="current-password">
      <button type="submit">SIGN IN</button>
    </form>
  </div>
</div>
{% endblock %}
